# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python

# Virtual env
venv/
.venv/
.venv
env/
.env/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*~

# Logs
*.log